Thank you very much for completing the survey.
<br><br>
Your participation is invaluable to me and is very helpful with my project!
<br><br>
If you have any questions about your role as a participant, the study itself, the passages, or if you are just curious about the topic of music cognition please feel free to contact me. 
<br><br>
My e-mail address is ddethier@middlebury.edu and I would be happy to answer any questions you may have!
<br><br>
Thanks again!
<br>
Divya