<!DOCTYPE html>
<html>
<head>
  <title>MusicSurvey</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <h1>Music Survey: Part 2</h1>
  <br>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
